<md-dialog aria-label="">
    <form name="form" ng-submit="formUsuario()">
        <md-toolbar>
            <div class="md-toolbar-tools">
                <h2>Nuevo usuario</h2>
                <span flex></span>
                <md-button class="md-icon-button" ng-click="cancel()">
                    <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
                </md-button>
            </div>
        </md-toolbar>
        <md-dialog-content>
            <div class="md-dialog-content">
                <div layout-gt-sm="row">
                    <md-input-container class="md-block col-md-6" flex-gt-sm>
                        <label>Cedula</label>
                        <input ng-model="new_usuario.cedula" required>
                    </md-input-container>
                    <md-input-container class="md-block col-md-6" flex-gt-sm>
                        <label>Nombre</label>
                        <input ng-model="new_usuario.nombre" required>
                    </md-input-container>
                    <md-input-container class="md-block col-md-6" flex-gt-sm>
                        <label>Clave</label>
                        <input type="password" ng-model="new_usuario.clave" required>
                    </md-input-container>
                    <md-input-container class="md-block col-md-6" flex-gt-sm>
                        <label>Tipo</label>
                        <md-select ng-model="new_usuario.tipo" required md-no-asterisk="false">
                            <md-option value="superadmin">
                                Super usuario
                            </md-option>
                            <md-option value="admin">
                                Administrador
                            </md-option>
                        </md-select>
                    </md-input-container>
                    <md-input-container class="md-block col-md-6" flex-gt-sm ng-show="new_usuario.tipo=='admin'">
                        <label>Sucursal</label>
                        <md-select ng-model="new_usuario.sucursal" md-no-asterisk="false">
                            <md-option ng-selected="x.id==new_usuario.sucursal" ng-value="x.id" ng-repeat="x in sucursal"
                             >{{x.nombre}}</md-option>
                        </md-select>
                    </md-input-container>
                </div>
                <div class="row">
                    <p style="color: red;">* El campo es obligatorio</p>
                </div>
            </div>
        </md-dialog-content>
        <md-dialog-actions layout="row">
            <md-button type="submit" ng-disabled="!form.$valid">
                Guardar
            </md-button>
        </md-dialog-actions>
    </form>
</md-dialog>
