.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0; }

body {
  padding: 0; }

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px; }

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
  /* Make the masthead heading the same height as the navigation */ }
  .header h3 {
    margin-top: 0;
    margin-bottom: 0;
    line-height: 40px;
    padding-bottom: 19px; }

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5; }

.container-narrow > hr {
  margin: 30px 0; }

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5; }
  .jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px; }

/* Supporting marketing content */
.marketing {
  margin: 40px 0; }
  .marketing p + h4 {
    margin-top: 28px; }

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  .container {
    max-width: 730px; }

  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0; }

  /* Space out the masthead */
  .header {
    margin-bottom: 30px; }

  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0; } }

/*# sourceMappingURL=main.css.map */


.navbar{
  margin-bottom: 0;
}
.header{
  margin-bottom: 0;
}


md-sidenav.md-default-theme, md-sidenav, md-sidenav.md-default-theme md-content, md-sidenav md-content{
    background-color: #484848;
    color: #fff;
}
md-sidenav h1{
  color:#fff;
}
md-divider.md-default-theme, md-divider {
    border-top-color: rgba(255, 255, 255, 0.12);
}
md-sidenav a:focus,md-sidenav a:hover{
color: #23527c;
    text-decoration: initial;
}
::-webkit-scrollbar {
    display: none;
}
.cargando{
    position: absolute;
    top: 40%;
    z-index: 9999;
    width: 100%;
    text-align: center;
}
.cargando>md-progress-circular{
    background: #fff;
    border-radius: 50%;
    border: 1px solid #ddd;
}

.md-datepicker-button {
    display: none;
}
/*.graficas .md-datepicker-button {
    display: block;
}*/
md-menu-sidenav-title.ng-scope:hover {
    background: rgba(255,255,255,.3);
}
.login-fondo{
      background: url(../img/fondoblur.png);
      background-size: cover;
      height: 100%;
      /*-webkit-filter:blur(5px);
      -moz-filter:blur(5px);
      -o-filter:blur(5px);
      filter:blur(5px); */
}

md-menu-sidenav-title{
    border-bottom: 1px solid rgba(221, 221, 221, 0.31);
}