<div class="row text-center" >
	<form ng-submit="login(user)">
		<md-card class="col-md-offset-4 col-md-4 col-sm-8 col-sm-offset-2 col-xs-10 col-xs-offset-1" style="margin-top:5%;padding:0">
	        	<md-toolbar>
		  			<div class="md-toolbar-tools">
		    			<h2>Inicio de Sesión</h2>
		    			<span flex></span>
		  			</div>
				</md-toolbar>
	        <md-card-content>
	        	<img src="img/invermata.png" alt="" style="width: 55%;margin: 0 auto;">
	        	<h3>Invermata C.A.</h3>
	            <md-input-container>
			    	<label>Cédula</label>
			    	<input ng-model="user.cedula">
			  	</md-input-container>
			  	<md-input-container>
			    	<label>Clave</label>
			    	<input type="password" ng-model="user.clave">
			  	</md-input-container>
	        </md-card-content>
	        <md-card-actions layout="row" layout-align="end center">
	            <md-button  class="md-primary" type="submit">Entrar</md-button>
	        </md-card-actions>
	    </md-card>
	</form>
</div> 

