<md-dialog aria-label="">
  <form name="form" ng-submit="SaveUpdate(empleadoEdit)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar Empleado</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-sm="row">
          <md-input-container class="md-block col-md-3" flex-gt-sm>
            <label>Tipo</label>
            <input ng-model="empleadoEdit.letra"  disabled>
          </md-input-container>
          <md-input-container class="md-block col-md-3" flex-gt-sm>
            <label>Cédula</label>
            <input ng-model="empleadoEdit.cedula" ng-pattern="/^[0-9]+$/" maxlength="9" disabled>
          </md-input-container>

          <md-input-container class="md-block col-md-3" flex-gt-sm>
            <label>Nombre</label>
            <input ng-model="empleadoEdit.nombre" required>
          </md-input-container>

          <md-input-container class="md-block col-md-3" flex-gt-sm>
            <label>Apellido</label>
            <input ng-model="empleadoEdit.apellido" required>
          </md-input-container>

          <md-input-container ng-class="{'has-error': (!form.$pristine && form.tlf.$error.required ) || form.tlf.$error.pattern}" class="md-block col-md-3" flex-gt-sm>
              <label>Teléfono</label>
              <input ng-model="empleadoEdit.telefono" name="tlf" ng-pattern="/^[0-9]{1,11}$/" maxlength="11" minlength="11" >
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class="md-block col-md-3" flex-gt-sm>
            <label>Dirección</label>
            <input ng-model="empleadoEdit.direccion" >
          </md-input-container>

          <md-input-container class="md-block col-md-3" flex-gt-sm>
            <label>Email</label>
            <input type="email" ng-model="empleadoEdit.email">
          </md-input-container>

          <md-input-container class="md-block " flex-gt-sm>
            <md-datepicker  ng-model="empleadoEdit.fec_nac" md-placeholder="Nacimiento *" md-max-date="maxDate">
              
            </md-datepicker>
          </md-input-container>

          <md-input-container class="md-block col-md-3" flex-gt-sm>
            <label>Sexo</label>
            <md-select ng-model="empleadoEdit.sexo">
              <md-option  value="f">
                F
              </md-option>
              <md-option  value="m">
                M
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="col-md-2" flex-gt-sm>
            <label>Discapacidad</label>
            <md-select ng-selected="empleadoEdit.discapacidad" ng-model="empleadoEdit.discapacidad">
              <md-option  value="t">
                Si
              </md-option>
              <md-option  value="f">
                No
              </md-option>
            </md-select>
          </md-input-container>

         
        </div>

        <div layout-gt-sm="row">

          <md-input-container class="md-block col-md-2" flex-gt-sm>
            <label>Cargo</label>
            <input ng-model="empleadoEdit.nombre_cargo" >
          </md-input-container>
          
          <md-input-container class="md-block col-md-2" flex-gt-sm>
            <label>Sueldo diario</label>
            <input ng-model="empleadoEdit.sueldo" >
          </md-input-container>
          
          <md-input-container class="md-block col-md-3">
            <label>Sucursal</label>
            <md-select ng-model="empleadoEdit.sucursal" ng-change="load_departamentos(empleadoEdit.sucursal)" required md-no-asterisk="false" >
              <md-optgroup label="Sucursal">
                <md-option ng-selected="x.id==empleadoEdit.sucursal" ng-value="x.id" ng-repeat="x in sucursal">{{x.nombre}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block col-md-3">
            <label>Departamento</label>
            <md-select ng-model="empleadoEdit.departamento" required md-no-asterisk="false" >
              <md-optgroup label="Departamento">
                <md-option ng-selected="x.id==empleadoEdit.departamento"  ng-value="x.id" ng-repeat="x in departamentos">{{x.nombre}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>

           <md-input-container class="col-md-2" flex-gt-sm>
            <label>Estado</label>
            <md-select ng-model="empleadoEdit.estado">
              <md-option  value="activo">
                Activo
              </md-option>
              <md-option  value="inactivo">
                Inactivo
              </md-option>
            </md-select>
          </md-input-container>



        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="!form.$valid">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
