<h1 >Empleados</h1>

<md-content flex layout-padding>
	<div class="col-md-12">
		<div class="col-md-9">
			<md-button class="md-raised md-primary" style="color:white; " ng-click="nuevoEmpleado($event)" >
				Nuevo
			</md-button>
		</div>

		<div class="col-md-3">
			<md-input-container class="md-block" flex-gt-sm>
			  <label>Filtrar</label>
			  <md-select ng-change="cargarEmpleados(estado)" ng-model="estado.estado">
			    <md-option  value="activo">
			    	Activos
			    </md-option>
			    <md-option  value="inactivo">
			    	Inactivo
			    </md-option>
			  </md-select>
			</md-input-container>
		</div>
	</div>

	<md-toolbar class="md-table-toolbar md-default">
		<div class="col-md-12">
		  	<table class="table dataTable row-border table-hover table-striped table-bordered" datatable="ng" dt-options="dtOptions">
			    <thead>
			      <tr class="sortable ">
			        <th>Cedula</th>
			        <th>Nombre</th>
			        <th>Apellido</th>
			        <th>Teléfono</th>
			        <th>Sexo</th>
			        <th>Cargo</th>
			        <th>Acciones</th>
			      </tr>
			    </thead>
			    <tbody >
			    	<tr ng-repeat="x in empleados" >
				      	<td>
				            {{ x.cedula}}
				        </td>
			       
				        <td>
				        	{{ x.nombre}}
				        </td>
				        <td>
				            {{ x.apellido}}
				        </td> 
				        <td>
				            {{ x.telefono}}
				        </td> 
				        <td>
				            {{ x.sexo}}
				        </td> 
				        <td>
				            {{ x.nombre_cargo}}
				        </td>   
				        <td>
				        	<md-button class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #ff4281;" ng-click="editar($event,x)" >
								<md-tooltip md-direction="top">
								    Editar
								</md-tooltip>
								<i class="fa fa-edit"></i>
							</md-button>
				        	<md-button class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #03A9F4;" ng-click="info($event,x)" >
								<md-tooltip md-direction="top">
								    Información
								</md-tooltip>
								<i class="fa fa-file"></i>
							</md-button>
				        </td>
			      	</tr>
			    </tbody>
		  	</table>
		</div>
	</md-toolbar>
</md-content


