<md-dialog aria-label="" style="width: 600px;">
  <form name="form" ng-submit="newEmpleado()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Información del Empleado</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    	<div class="md-dialog-content">
        <p>Cédula: {{infoEm.letra}}-{{infoEm.cedula}}</p>
        <p>Nombre: {{infoEm.nombre}}</p>
        <p>Apellido: {{infoEm.apellido}}</p>
        <p>Fecha de nacimiento: {{infoEm.fec_nac}}</p>
        <p>Sexo: {{(infoEm.sexo=='f')?'Femenino':'Masculino'}}</p>
        <p>Teléfono: {{infoEm.telefono}}</p>
        <p>Correo: {{infoEm.email}}</p>
        <p>Dirección: {{infoEm.direccion}}</p>
        <p>Discapacidad: {{infoEm.discapacidad=='t'?'Si':'No'}}</p>
        <p>Cargo: {{infoEm.nombre_cargo}}</p>
        <p>Fecha de ingreso: {{infoEm.fecha_ingreso}}</p>
        <p>Sucursal: {{infoEm.suc}}</p>
        <p>Departamento: {{infoEm.nombre_dep}}</p>
        <p>Sueldo diario Bs: {{infoEm.sueldo}}</p>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="!form.$valid">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
