<md-dialog aria-label="">
  <form name="form" ng-submit="newEmpleado()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nuevo Empleado</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    	<div class="md-dialog-content">
	    	<div layout-gt-sm="row">

          <md-input-container class="col-md-2" >
            <label>Tipo</label>
            <md-select ng-model="new_empleado.letra" required md-no-asterisk="false">
              <md-option  value="V">
                V
              </md-option>
              <md-option  value="E">
                E
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block col-md-3" flex-gt-sm>
            <label>Cédula</label>
            <input ng-model="new_empleado.cedula" ng-pattern="/^[0-9]+$/" maxlength="8" required>
          </md-input-container>

	    		<md-input-container class="md-block col-md-3" flex-gt-sm>
		        <label>Nombre</label>
		        <input ng-model="new_empleado.nombre" required>
	        </md-input-container>

          <md-input-container class="md-block col-md-3" flex-gt-sm>
            <label>Apellido</label>
            <input ng-model="new_empleado.apellido" required>
          </md-input-container>

          <md-input-container ng-class="{'has-error': (!form.$pristine && form.tlf.$error.required ) || form.tlf.$error.pattern}" class="md-block col-md-3" flex-gt-sm>
              <label>Teléfono</label>
              <input ng-model="new_empleado.telefono" name="tlf" ng-pattern="/^[0-9]{1,11}$/" maxlength="11" minlength="11" >
          </md-input-container>
        </div>

        <div layout-gt-sm="row">
          <md-input-container class=" col-md-4" flex-gt-sm>
                <label>Dirección</label>
                <input ng-model="new_empleado.direccion" >
          </md-input-container>

          <md-input-container class="md-block col-md-4" flex-gt-sm>
            <label>Email</label>
            <input type="email" ng-model="new_empleado.email" name="email">
          </md-input-container>
          
          <md-input-container class="col-md-4" flex-gt-sm>
            <md-datepicker required md-no-asterisk="false" ng-model="new_empleado.fec_nac" md-placeholder="Nacimiento *" md-max-date="maxDate">
            </md-datepicker>
          </md-input-container>

          <md-input-container class="col-md-2" flex-gt-sm>
            <label>Sexo</label>
            <md-select ng-model="new_empleado.sexo" required md-no-asterisk="false">
              <md-option  value="f">
                F
              </md-option>
              <md-option  value="m">
                M
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container class="col-md-2" flex-gt-sm>
            <label>Discapacidad</label>
            <md-select ng-model="new_empleado.discapacidad">
              <md-option  value="t">
                Si
              </md-option>
              <md-option  value="f">
                No
              </md-option>
            </md-select>
          </md-input-container>
          
	    	</div>

        <div layout-gt-sm="row">

          <md-input-container >
            <md-datepicker required md-no-asterisk="false" ng-model="new_empleado.fecha_ingreso" md-placeholder="Fecha de ingreso *" md-max-date="maxDateIngreso">
            </md-datepicker>
          </md-input-container>

          <md-input-container class="md-block col-md-4">
            <label>Cargo</label>
            <md-select ng-model="new_empleado.cargo" required md-no-asterisk="false" >
              <md-optgroup label="Cargo">
                <md-option  ng-value="x.id" ng-repeat="x in cargos">{{x.nombre}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
          
          <md-input-container class="md-block col-md-4">
            <label>Sueldo diario</label>
            <input ng-model="new_empleado.sueldo" required>
          </md-input-container>

          <md-input-container class="md-block col-md-4">
            <label>Sucursal</label>
            <md-select ng-model="new_empleado.sucursal" ng-change="load_departamentos(new_empleado.sucursal)" required md-no-asterisk="false" >
              <md-optgroup label="Sucursal">
                <md-option  ng-value="x.id" ng-repeat="x in sucursal">{{x.nombre}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>

          <md-input-container class="md-block col-md-4">
            <label>Departamento</label>
            <md-select ng-model="new_empleado.departamento" required md-no-asterisk="false" >
              <md-optgroup label="Departamento">
                <md-option  ng-value="x.id" ng-repeat="x in departamentos">{{x.nombre}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>
        </div>

        <div class="row">
          <p style="color: red;">* Campos obligatorios</p>
        </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="!form.$valid">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
