<md-dialog aria-label="">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar Sucursal</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    	<div class="md-dialog-content">
	    	<div layout-gt-sm="row">
	    		<md-input-container class="md-block col-md-4" flex-gt-sm>
		            <label>Nombre</label>
		            <input ng-model="sucursalEdit.nombre">
	         </md-input-container>

	    		<md-input-container class="md-block col-md-4" flex-gt-sm>
		            <label>Dirección</label>
		            <input ng-model="sucursalEdit.direccion">
	          	</md-input-container>

	    		<md-input-container class="md-block col-md-4" flex-gt-sm>
		            <label>Teléfono</label>
		            <input ng-model="sucursalEdit.telefono" ng-pattern="/^[0-9]{1,11}$/" maxlength="11" minlength="11">
	         </md-input-container>

           <md-input-container class="md-block" flex-gt-sm>
             <label>Estado</label>
             <md-select ng-model="sucursalEdit.estado">
               <md-option  value="activo">
                Activa
               </md-option>
               <md-option  value="inactivo">
                Inactivo
               </md-option>
             </md-select>
           </md-input-container>
	    	</div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="SaveUpdate(sucursalEdit)">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
