<md-dialog aria-label="">
  <form name="form" ng-submit="newSucursal()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nueva Sucursal</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    	<div class="md-dialog-content">
	    	<div layout-gt-sm="row">
	    		<md-input-container class="md-block col-md-4" flex-gt-sm>
		            <label>Nombre</label>
		            <input ng-model="new_sucursal.nombre" required>
	          	</md-input-container>

	    		<md-input-container class="md-block col-md-4" flex-gt-sm>
		            <label>Dirección</label>
		            <input ng-model="new_sucursal.direccion" required>
	          	</md-input-container>

	    		<md-input-container ng-class="{'has-error': (!form.$pristine && form.tlf.$error.required ) || form.tlf.$error.pattern}" class="md-block col-md-4" flex-gt-sm>
	            <label>Teléfono</label>
	            <input ng-model="new_sucursal.telefono" name="tlf" ng-pattern="/^[0-9]{1,11}$/" maxlength="11" minlength="11" required>
	       </md-input-container>
	    	</div>
        <div class="row">
          <p style="color: red;">* Todos los campos son obligatorios</p>
        </div>
      	</div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="!form.$valid">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
