<md-dialog aria-label="">
  <form name="form" ng-submit="updateDep(update_Dep)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Agregar departamento</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    	<div class="md-dialog-content">
	    	<div layout-gt-sm="row">
	    	   <md-input-container class="md-block ">
             <label>Departamentos</label>

              <md-select ng-model="update_Dep.departamento" multiple>
                <md-optgroup label="Departamentos">
                  <md-option ng-selected="dep.selected" ng-value="dep.id" ng-repeat="dep in departamentos">
                    {{dep.nombre}}
                  </md-option>
                </md-optgroup>
              </md-select>
          </md-input-container>
	    	</div>
      	</div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="!form.$valid">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
