<h2 >Asistencia</h2>

<md-content flex layout-padding>
	<div class="col-md-12">
		
		<div class="col-md-3">
			<md-datepicker ng-change="cargarAsistencia(date)" ng-model="date" md-placeholder="Fecha" md-min-date="minDate" md-max-date="maxDate"></md-datepicker>
			
		</div>
	</div>

	<md-toolbar class="md-table-toolbar md-default">
		<div class="col-md-12">
		  	<table class="table dataTable row-border table-hover table-striped table-bordered" datatable="ng" dt-options="dtOptions">
			    <thead>
			      <tr class="sortable ">
			        <th>Cédula</th>
			        <th>Nombre</th>
			        <th>Apellido</th>
			        <th>Hora de entrada</th>
			        <th>Hora de salida</th>
			      </tr>
			    </thead>
			    <tbody >
			    	<tr ng-repeat="x in asistencia" >
				      	<td>
				            {{ x.cedula}}
				        </td>
			       
				        <td>
				        	{{ x.nombre}}
				        </td>
				        <td>
				            {{ x.apellido}}
				        </td>  
				        <td>
				            {{ x.hora_entrada}}
				        </td>  
				        <td>
				            {{ x.hora_salida}}
				        </td>   
				        <!-- <td>
				        	<md-button class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #ff4281;" ng-click="editar($event,x)" >
								<md-tooltip md-direction="top">
								    Editar
								</md-tooltip>
								<i class="fa fa-edit"></i>
							</md-button>
				        </td> -->
			      	</tr>
			    </tbody>
		  	</table>
		</div>
	</md-toolbar>
</md-content


