		<div>
			
		<md-toolbar layout="row">
            <div class="md-toolbar-tools">
                <md-button ng-click="toggleSidenav('left')" class="md-icon-button">
                    <md-icon>
                      <i class="fa fa-bars"></i>
                    </md-icon>
                </md-button>
                <h1>Invermata</h1>
            </div>
        </md-toolbar>

        <div layout="row" flex>
            <md-sidenav style="overflow-y: scroll" layout="column" class="md-sidenav-left md-whiteframe-z2" md-component-id="left">
                <div layout="row" layout-padding>
                  <!-- <img src="img/Abstergo.png" style="width: 40%;height: 40%;margin: 0 auto;"> -->
                  <h3 class="md-title">Menu</h3>
                </div>

                 <md-divider></md-divider>

            <md-menu-sidenav>
                <md-menu-sidenav-item >
                    <md-menu-sidenav-title>
                        <a ng-href="#/" ng-click="close()">
                            <h1 class="md-body-2" flex>
                                <i class="fa fa-home"></i> Inicio
                            </h1>
                        </a>
                    </md-menu-sidenav-title>
                </md-menu-sidenav-item>


                <md-menu-sidenav-item>
                    <md-menu-sidenav-title>
                        <a ng-href="#/sucursal" ng-click="close()">
                            <h1 class="md-body-2" flex> <i class="fa fa-building-o"></i> Sucursal</h1>
                        </a>
                    </md-menu-sidenav-title>
                </md-menu-sidenav-item>
                <md-menu-sidenav-item>
                    <md-menu-sidenav-title>
                        <a ng-href="#/departamento" ng-click="close()">
                            <h1 class="md-body-2" flex> <i class="fa fa-building"></i> Departamento</h1>
                        </a>
                    </md-menu-sidenav-title>
                </md-menu-sidenav-item>
                <md-menu-sidenav-item>
                    <md-menu-sidenav-title>
                        <a ng-href="#/empleado" ng-click="close()">
                            <h1 class="md-body-2" flex> <i class="fa fa-user"></i> Empleado</h1>
                        </a>
                    </md-menu-sidenav-title>
                </md-menu-sidenav-item>
                <md-menu-sidenav-item>
                    <md-menu-sidenav-title>
                        <a ng-href="#/cargo" ng-click="close()">
                            <h1 class="md-body-2" flex> <i class="fa fa-graduation-cap"></i> Cargo</h1>
                        </a>
                    </md-menu-sidenav-title>
                </md-menu-sidenav-item>

                <md-menu-sidenav-item>
                    <md-menu-sidenav-title>
                        <a ng-href="#/asignacion-deduccion" ng-click="close()">
                            <h1 class="md-body-2" flex> <i class="fa fa-money"></i> Asignación y deducción</h1>
                        </a>
                    </md-menu-sidenav-title>
                </md-menu-sidenav-item>
                <md-menu-sidenav-item>
                    <md-menu-sidenav-title>
                        <a ng-href="#/asistencia" ng-click="close()">
                            <h1 class="md-body-2" flex> <i class="fa fa-check-square-o"></i> Asistencia</h1>
                        </a>
                    </md-menu-sidenav-title>
                </md-menu-sidenav-item>

                <md-menu-sidenav-item>
                    <md-menu-sidenav-title>
                        <a ng-href="#/nomina" ng-click="close()">
                            <h1 class="md-body-2" flex> <i class="fa fa-file"></i> Nómina</h1>
                        </a>
                    </md-menu-sidenav-title>
                </md-menu-sidenav-item>

                <md-menu-sidenav-item>
                    <md-menu-sidenav-title>
                        <a ng-href="#/usuarios" ng-click="close()">
                            <h1 class="md-body-2" flex> <i class="fa fa-users"></i> Usuarios</h1>
                        </a>
                    </md-menu-sidenav-title>
                </md-menu-sidenav-item>

                <md-menu-sidenav-item>
                    <md-menu-sidenav-title>
                        <a ng-href="#/configuracion" ng-click="close()">
                            <h1 class="md-body-2" flex> <i class="fa fa-cog"></i> Configuración</h1>
                        </a>
                    </md-menu-sidenav-title>
                </md-menu-sidenav-item>

                <md-menu-sidenav-item>
                    <md-menu-sidenav-title>
                        <a ng-click="logout();close()">
                            <h1 class="md-body-2" flex> <i class="fa fa-sign-out"></i> Salir</h1>
                        </a>
                    </md-menu-sidenav-title>
                </md-menu-sidenav-item>


                <!-- <md-menu-sidenav-item>
                    <md-menu-sidenav-title>
                        <md-toogle-menu layout="row" flex>
                            <h1 class="md-body-2" flex><i class="fa fa-home"></i> Indicadores</h1>
                        </md-toogle-menu>
                    </md-menu-sidenav-title>

                    <md-menu-sidenav-content>
                        <a ng-href="#/about"><md-menu-sidenav-subitem>Item 1</md-menu-sidenav-subitem></a>
                        <md-menu-sidenav-subitem>Item 2</md-menu-sidenav-subitem>
                        <md-menu-sidenav-subitem>Item 3</md-menu-sidenav-subitem>
                    </md-menu-sidenav-content>
                </md-menu-sidenav-item> -->
          </md-menu-sidenav>
      </md-sidenav>
		</div>