<h2 >Configuración</h2>

<md-card md-theme="{{ showDarkTheme ? 'dark-purple' : 'default' }}" md-theme-watch>
	
	<md-card-content>
		
		<div class="col-md-12">
			<div class="row">
				<md-input-container class="md-block col-md-4" flex-gt-sm>
		            <label>Sueldo mínimo(BsF)</label>
		            <input ng-model="configuracion.sueldo_minimo" ng-disabled="editSueldo">
		        </md-input-container>
	            <div class="col-md-2">
	            	<md-button ng-if="editSueldo==true" class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #ff4281;" ng-click="editar('sueldo')" >
	    				<md-tooltip md-direction="top">
	    				    Editar
	    				</md-tooltip>
	    				<i class="fa fa-edit"></i>
	    			</md-button>
		        	<md-button ng-if="editSueldo==false" class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #B2FF59;" ng-click="saveUpdate('sueldo')" >
						<md-tooltip md-direction="top" >
						    Guardar
						</md-tooltip>
						<i class="fa fa-check"></i>
					</md-button>
	            </div>
			</div>
			<div class="row">
				<md-input-container class="md-block col-md-4" flex-gt-sm>
		            <label>Cesta Ticket (BsF)</label>
		            <input ng-model="configuracion.cestaticket" ng-disabled="true" >
		        </md-input-container>
			</div>
			<div class="row">
				<md-input-container class="md-block col-md-4" flex-gt-sm>
		            <label>U.T.</label>
		            <input ng-model="configuracion.unidad_tributaria" ng-disabled="editUt" >
		        </md-input-container>
		        <div class="col-md-2">
		        	<md-button ng-if="editUt==true" class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #ff4281;" ng-click="editar('ut')" >
						<md-tooltip md-direction="top">
						    Editar
						</md-tooltip>
						<i class="fa fa-edit"></i>
					</md-button>
		        	<md-button ng-if="editUt==false" class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #B2FF59;" ng-click="saveUpdate('ut')" >
						<md-tooltip md-direction="top">
						    Guardar
						</md-tooltip>
						<i class="fa fa-check"></i>
					</md-button>
		        </div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="row">
				<md-input-container class="md-block col-md-2" flex-gt-sm>
		            <label>Hora de entrada</label>
		            <input ng-model="horario.hora_entrada" type="time" ng-disabled="editEntrada">
		        </md-input-container>
		        <md-input-container class="md-block col-md-2" flex-gt-sm>
		            <label>Hora de Salida</label>
		            <input ng-model="horario.hora_salida" type="time" ng-disabled="editEntrada">
		        </md-input-container>
		        <md-input-container class="md-block col-md-2" flex-gt-sm>
		            <label>Jornada de trabajo</label>
		            <input ng-model="horario.jornada" ng-pattern="/^[0-9]+$/" maxlength="2" required ng-disabled="editEntrada">
		        </md-input-container>
	            <div class="md-block col-md-2">
	            	<md-button ng-if="editEntrada==true" class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #ff4281;" ng-click="editarHorario()" >
	    				<md-tooltip md-direction="top">
	    				    Editar
	    				</md-tooltip>
	    				<i class="fa fa-edit"></i>
	    			</md-button>
		        	<md-button ng-if="editEntrada==false" class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #B2FF59;" ng-click="saveUpdateHorario()" >
						<md-tooltip md-direction="top">
						    Guardar
						</md-tooltip>
						<i class="fa fa-check"></i>
					</md-button>
	            </div>
			</div>
		</div>

		<div class="col-md-12">
			<div class="row">
			<md-button md-no-ink class="md-primary">Días Feriado</md-button>
			<md-button class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #ff4281;" ng-click="nuevoFeriado($event)" >
				<md-tooltip md-direction="top">
				    Agregar feriado
				</md-tooltip>
					<i class="fa fa-plus"></i>
			</md-button>
			</div>
		</div>

		<md-toolbar ng-if="feriados" class="md-table-toolbar md-default">
			<div class="col-md-12">
			  	<table class="table dataTable row-border table-hover table-striped table-bordered" datatable="ng" dt-options="dtOptions">
				    <thead>
				      <tr class="sortable ">
				        <th>Motivo</th>
				        <th>Fecha</th>
				      </tr>
				    </thead>
				    <tbody >
				    	<tr ng-repeat="x in feriados" >
					      	<td>
					            {{ x.motivo}}
					        </td>
				       
					        <td>
					        	{{ x.fecha}}
					        </td>
				      	</tr>
				    </tbody>
			  	</table>
			</div>
		</md-toolbar>
	</md-card-content>

</md-card>




