<md-dialog aria-label="">
  <form ng-cloak>
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nuevo día feriado</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    	<div class="md-dialog-content">
	    	<div layout-gt-sm="row">
	    		<md-input-container class="md-block col-md-4" flex-gt-sm>
                <label>motivo</label>
                <input ng-model="feriado.motivo" required>
           </md-input-container>
           <md-input-container class="md-block col-md-4" flex-gt-sm>
		            <label>Fecha</label>
		             <md-datepicker ng-model="feriado.fecha" md-placeholder="Seleccione una fecha"></md-datepicker required>
	         </md-input-container>
	    	</div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button ng-click="SaveFeriado(feriado)">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
