<md-dialog aria-label="">
  <form name="form" ng-submit="SaveUpdate(departamentoEdit)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar Departamento</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    	<div class="md-dialog-content">
	    	<div layout-gt-sm="row">
	    		<md-input-container class="md-block" flex-gt-sm>
            <label>Nombre</label>
            <input ng-model="departamentoEdit.nombre" required>
        	</md-input-container>
          <md-input-container class="md-block" flex-gt-sm>
            <label>Estado</label>
            <md-select ng-model="departamentoEdit.estado">
              <md-option  value="activo">
               Activa
              </md-option>
              <md-option  value="inactivo">
               Inactivo
              </md-option>
            </md-select>
          </md-input-container>
	    	</div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="!form.$valid">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
