<md-dialog aria-label="">
  <form name="form" ng-submit="newDepartamento()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Nuevo Departamento</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    	<div class="md-dialog-content">
	    	<div layout-gt-sm="row">
	    		<md-input-container class="md-block col-md-6" flex-gt-sm>
            <label>Nombre</label>
            <input ng-model="new_departamento.nombre" required>
        	</md-input-container>
	    	</div>
        <div class="row">
          <p style="color: red;">* El campo es obligatorio</p>          
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="!form.$valid">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
