<h1>Asignación y Deducción</h1>

<md-content flex layout-padding>
	<div class="col-md-12">
		<div class="col-md-9">
			<md-button class="md-raised md-primary" style="color:white; " ng-click="nuevaAsignacion($event,'asignacion')" >
				Nuevo asignacion
			</md-button>
			<md-button class="md-raised md-primary" style="color:white; " ng-click="nuevaAsignacion($event, 'deduccion')" >
				Nuevo deduccion
			</md-button>
		</div>

		<div class="col-md-3">
			<md-input-container class="md-block" flex-gt-sm>
			  <label>Filtrar</label>
			  <md-select ng-change="cargarAsignaciones(estado)" ng-model="estado.estado">
			    <md-option  value="asignacion">
			    	Asignaciones
			    </md-option>
			    <md-option  value="deduccion">
			    	Deducciones
			    </md-option>
			  </md-select>
			</md-input-container>
		</div>
	</div>

	<md-toolbar class="md-table-toolbar md-default">
		<div class="col-md-12">
		  	<table class="table dataTable row-border table-hover table-striped table-bordered" datatable="ng" dt-options="dtOptions">
			    <thead>
			      <tr class="sortable ">
			        <th>Nombre</th>
			        <th>Monto</th>
			        <th>Porcentaje</th>
			        <th>Obligatorio</th>
			        <th>Acciones</th>
			      </tr>
			    </thead>
			    <tbody >
			    	<tr ng-repeat="x in asign_deduccion" >
				      	<td>
				            {{ x.nombre}}
				        </td>
			       
				        <td>
				        	{{ x.monto}}
				        </td>
				        <td>
				            {{ x.porcentaje}}
				        </td> 
				        <td>
				            {{ x.estado}}
				        </td>   
				        <td>
				        	<md-button class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #ff4281;" ng-click="editar($event,x)" >
								<md-tooltip md-direction="top">
								    Editar
								</md-tooltip>
								<i class="fa fa-edit"></i>
							</md-button>
							
				        </td>
			      	</tr>
			    </tbody>
		  	</table>
		</div>
	</md-toolbar>
</md-content


