<md-dialog aria-label="">
  <form name="form" ng-submit="SaveUpdate(dataEdit)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-sm="row">
          <md-input-container class="md-block col-md-4" flex-gt-sm>
              <label>Nombre</label>
              <input ng-model="dataEdit.nombre" required>
          </md-input-container>

          <md-input-container class="md-block col-md-4" flex-gt-sm>
            <label>Tipo</label>
            <md-select  ng-model="tipo" required>
              <md-option ng-selected="dataEdit.monto!=null" value="monto">
               Monto
              </md-option>
              <md-option ng-selected="dataEdit.porcentaje!=null"  value="porcentaje">
               Porcentaje
              </md-option>
            </md-select>
          </md-input-container>

          <md-input-container ng-if="dataEdit.monto!=null" class="md-block col-md-4" flex-gt-sm>
            <label>Monto</label>
            <input ng-model="dataEdit.monto" >
          </md-input-container>

          <md-input-container ng-if="dataEdit.porcentaje!=null" class="md-block col-md-4" flex-gt-sm>
            <label>Porcentaje</label>
            <input ng-model="dataEdit.porcentaje" >
          </md-input-container>

          <md-input-container class="md-block col-md-2" flex-gt-sm>
            <label>Obligatorio</label>
            <md-select ng-model="dataEdit.estado">
              <md-option  value="t">
               Si
              </md-option>
              <md-option  value="f">
               No
              </md-option>
            </md-select>
          </md-input-container>
        </div>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="!form.$valid">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
