<md-dialog aria-label="" style="width: 400px">
  <form name="form" ng-submit="guardarAD()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-sm="row">
         
          <md-input-container class="md-block ">
            <label>{{title}}</label>
            <md-select ng-change="valor(asigDeduc.asignacion)"  ng-model="asigDeduc.asignacion" >
              <md-optgroup label="title">
                <md-option ng-disabled="x.disabled"  required md-no-asterisk="false" ng-value="x.id" ng-repeat="x in asigDeducciones">{{x.nombre}}</md-option>
              </md-optgroup>
            </md-select>
          </md-input-container>

          <md-input-container ng-if="asigDeduc.monto!=null" class="md-block " flex-gt-sm>
                <label>monto</label>
                <input ng-model="asigDeduc.monto" required>
          </md-input-container>
          <md-input-container ng-if="asigDeduc.porcentaje!=null" class="md-block" flex-gt-sm>
                <label>porcentaje</label>
                <input ng-model="asigDeduc.porcentaje" required>
          </md-input-container>

          <md-button class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #ff4281;" ng-click="addAsignacion()" >
            <md-tooltip md-direction="top">
                Nueva
            </md-tooltip>
                <i class="fa fa-plus"></i>
          </md-button>
        </div>

        <div >
          <li layout-gt-sm="row" ng-repeat="info in agregadasAD.asignaciones">
            <p class="col-md-6">{{info.nombre}}: </p><p class="col-md-6" ng-if="info.monto!=null">{{info.monto}}BsF</p><p class="col-md-6" ng-if="info.porcentaje!=null">{{info.porcentaje}}%</p>
          </li>
        </div>

        <div >
          <li layout-gt-sm="row" ng-repeat="info in newAsigna.asignaciones">
            <p class="col-md-6">{{info.nombre}}: </p><p class="col-md-6" ng-if="info.monto!=null">{{info.monto}}BsF</p><p class="col-md-6" ng-if="info.porcentaje!=null">{{info.porcentaje}}%</p>
          </li>
        </div>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="newAsigna.asignaciones.length == 0 ">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
