<md-dialog aria-label="" style="width: 600px;">
  <form name="form" ng-submit="newSucursal()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Detalle de pago</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
    	<div class="md-dialog-content">
	       <p>Cédula: {{infoEmpleado.letra}}-{{infoEmpleado.cedula}}</p>
         <p>Nombre: {{infoEmpleado.nombre}} {{infoEmpleado.apellido}}</p>
         <p>Quincena: {{infoEmpleado.fecha}}</p>
         <p>Sueldo diario: {{infoEmpleado.sueldo_diario}}</p>
         <p>Sueldo Neto: {{infoEmpleado.sueldo_neto}}</p>

         <table>
            <thead>
              <tr>
                <th>Descripción</th>
                <th>Días</th>
                <th>Monto</th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>Quincena</td>
                <td>{{infoEmpleado.dias_trabajados}}</td>
                <td>{{infoEmpleado.dias_trabajados * infoEmpleado.sueldo_diario}}</td>
              </tr> 
              <tr>
                <td>Feriados</td>
                <td>{{infoEmpleado.feriados}}</td>
                <td>{{1.5 * infoEmpleado.sueldo_diario}}</td>
              </tr>
            </tbody>
         </table>

         <h4>Asignaciones</h4>
         <li ng-repeat="asig in infoEmpleado.asignaciones">
            {{asig.nombre}} - {{asig.monto}}
         </li>

         <h4>Deducciones</h4>
         <li ng-repeat="ded in infoEmpleado.deducciones">
            {{ded.nombre}} - {{ded.monto}}
         </li>

      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="!form.$valid">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
