<h2 >Nómina</h2>

<md-content flex layout-padding>
	<div class="col-md-12">
		<div class="col-md-9">
			<md-button ng-if="showCalculo==false" class="md-raised md-primary" style="color:white;" ng-click="generarNomina()" >
				Pagar Nómina
			</md-button>
			<md-button ng-if="showCalculo==true" class="md-raised md-primary" style="color:white;" ng-click="change(false); cargarNomina()" >
				Ver Nómina
			</md-button>
		</div>

		<div class="col-md-3">
			<md-datepicker ng-model="myDate" md-placeholder="quincena"
			           ></md-datepicker>
		</div>
	</div>

	<md-toolbar ng-if="showCalculo==true" class="md-table-toolbar md-default">
		<div class="col-md-12">
		  	<table class="table dataTable row-border table-hover table-striped table-bordered" datatable="ng" dt-options="dtOptions">
			    <thead>
			      <tr class="sortable ">
			        <th>Cédula</th>
			        <th>Empleado</th>
			        <th>Acciones</th>
			      </tr>
			    </thead>
			    <tbody >
			    	<tr ng-repeat="x in empleados" >
				      	<td>
				            {{ x.cedula}}
				        </td>
				        <td>
				        	{{ x.nombre}} {{x.apellido}}
				        </td>
				        <td>
				        	<md-button ng-if="x.procesado!=true" class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #03A9F4;" ng-click="nuevaAsignacion($event,x,'asignacion')"  >
								<md-tooltip md-direction="top">
								    Nueva Asignación
								</md-tooltip>
								<i class="fa fa-money"></i>
							</md-button>
							<md-button ng-if="x.procesado!=true" class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #EF5350" ng-click="nuevaAsignacion($event,x,'deduccion')" >
								<md-tooltip md-direction="top">
								    Nueva dedución
								</md-tooltip>
								<i class="fa fa-money"></i>
							</md-button>
							<md-button ng-if="x.procesado!=true" class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #ff4281;" ng-click="tiempoTrabajado($event,x)" >
								<md-tooltip md-direction="top">
								    Tiempo de trabajo
								</md-tooltip>
								<i class="fa fa-clock-o"></i>
							</md-button>
							<md-button ng-if="x.procesado!=true" class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #64DD17;" ng-click="listo(x)" >
								<md-tooltip md-direction="top">
								    Listo en nómina
								</md-tooltip>
								<i class="fa fa-check"></i>
							</md-button>
							<md-button ng-if="x.procesado==true" class="md-raised md-primary" style="color:white;" >
								Procesado
							</md-button>
							
				        </td>
			      	</tr>
			    </tbody>
		  	</table>
		</div>
	</md-toolbar>

	<md-toolbar ng-if="showCalculo==false" class="md-table-toolbar md-default">
		<div class="col-md-12">
		  	<table class="table dataTable row-border table-hover table-striped table-bordered" datatable="ng" dt-options="dtOptions">
			    <thead>
			      <tr class="sortable ">
			        <th>Cédula</th>
			        <th>Empleado</th>
			        <th>Sueldo Base</th>
			        <th>Asignaciones</th>
			        <th>Deducciones</th>
			        <th>Días Feriados</th>
			        <th>Horas extras</th>
			        <th>Neto a pagar</th>
			        <th>Acciones</th>
			      </tr>
			    </thead>
			    <tbody >
			    	<tr ng-repeat="x in nomina" >
				        <td>
				        	{{ x.cedula}}
				        </td>
				      	<td>
				            {{ x.nombre}} {{x.apellido}}
				        </td>

				        <td>
				        	{{x.sueldo_diario * 15}}
				        </td>  

				        <td>
				        	{{x.total_asignaciones}}
				        </td> 

				        <td>
				        	{{x.total_deducciones}}
				        </td>  

				        <td>
				        	{{x.dias_feriados}}
				        </td>  

				        <td>
				        	{{x.horas_extras}}
				        </td> 

				        <td>
				        	{{x.sueldo_neto}}
				        </td> 
				        <td>
				        	<md-button class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #03A9F4;" ng-click="detalle($event,x)" >
								<md-tooltip md-direction="top">
								    Detalles
								</md-tooltip>
								<i class="fa fa-archive"></i>
							</md-button>
				        	<md-button class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #ff4281;" ng-click="imprimirRecibo(x)" >
								<md-tooltip md-direction="top">
								    Imprimir recibo
								</md-tooltip>
								<i class="fa fa-print"></i>
							</md-button>
				        </td>
			      	</tr>
			    </tbody>
		  	</table>
		</div>
	</md-toolbar>
</md-content


