<md-dialog aria-label="">
  <form name="form" ng-submit="guardarHoraExtra()">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>{{title}}</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <table border="1">
          <thead>
            <tr>
              <th>Fecha</th>
              <th>Hora de entrada</th>
              <th>Hora de salida</th>
              <th>Horas extras</th>
            </tr>
          </thead>
          <tbody>
            <tr  ng-repeat="x in timeWorking.asistencia">
              <td>{{x.fecha}}</td>
              <td>{{x.hora_entrada}}</td>
              <td>{{x.hora_salida}}</td>
              <td>{{x.hora_extra}}</td>
            </tr>
            <tr>
              <td></td>
              <td></td>
              <td>Total Horas Extras</td>
              <td><input tipe="time" ng-model="totalHoraExtra.hora" required></td>
            </tr>
          </tbody>
        </table>
      </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="{{showHoraExtra}}">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
