<h1 ">Cargos</h1>

<md-content flex layout-padding>
	<div class="col-md-12">
		<div class="col-md-9">
			<md-button class="md-raised md-primary" style="color:white;" ng-click="nuevoCargo($event)" >
				Nuevo
			</md-button>
		</div>

		<div class="col-md-3">
			<md-input-container class="md-block" flex-gt-sm>
			  <label>Filtrar</label>
			  <md-select ng-change="cargarCargos(estado)" ng-model="estado.estado">
			    <md-option  value="activo">
			    	Activas
			    </md-option>
			    <md-option  value="inactivo">
			    	Inactivo
			    </md-option>
			  </md-select>
			</md-input-container>
		</div>
	</div>

	<md-toolbar class="md-table-toolbar md-default">
		<div class="col-md-12">
		  	<table class="table dataTable row-border table-hover table-striped table-bordered" datatable="ng" dt-options="dtOptions">
			    <thead>
			      <tr class="sortable ">
			        <th>Nombre</th>
			        <th>Descripción</th>
			        <th>Accion</th>
			      </tr>
			    </thead>
			    <tbody >
			    	<tr ng-repeat="x in cargos" >
				      	<td>
				            {{ x.nombre}}
				        </td>
			       
				        <td>
				        	{{ x.descripcion}}
				        </td>
				        
				        <td>
				        	<md-button class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #ff4281;" ng-click="editar($event,x)" >
								<md-tooltip md-direction="top">
								    Editar
								</md-tooltip>
								<i class="fa fa-edit"></i>
							</md-button>
							
				        </td>
			      	</tr>
			    </tbody>
		  	</table>
		</div>
	</md-toolbar>
</md-content


