<md-dialog aria-label="">
  <form name="form" ng-submit="SaveUpdate(cargoEdit)">
    <md-toolbar>
      <div class="md-toolbar-tools">
        <h2>Editar Cargo</h2>
        <span flex></span>
        <md-button class="md-icon-button" ng-click="cancel()">
          <md-icon md-svg-src="img/icons/ic_close_24px.svg" aria-label="Close dialog"></md-icon>
        </md-button>
      </div>
    </md-toolbar>

    <md-dialog-content>
      <div class="md-dialog-content">
        <div layout-gt-sm="row">
          <md-input-container class="md-block col-md-4" flex-gt-sm>
                <label>Nombre</label>
                <input ng-model="cargoEdit.nombre" required>
              </md-input-container>

          <md-input-container class="md-block col-md-6" flex-gt-sm>
                <label>Descripción</label>
                <input ng-model="cargoEdit.descripcion" required>
          </md-input-container>

         <!--  <md-input-container class="md-block col-md-4" flex-gt-sm>
            <label>Comisión</label>
            <md-select ng-selected="cargoEdit.comision"  ng-model="cargoEdit.comision">
              <md-option  value="t">
                Si
              </md-option>
              <md-option  value="f">
                No
              </md-option>
            </md-select>
          </md-input-container> -->

          <md-input-container class="md-block col-md-2" flex-gt-sm>
            <label>Estado</label>
            <md-select ng-model="cargoEdit.estado">
              <md-option  value="activo">
               Activo
              </md-option>
              <md-option  value="inactivo">
               Inactivo
              </md-option>
            </md-select>
          </md-input-container>

        </div>
        </div>
    </md-dialog-content>

    <md-dialog-actions layout="row">
      <md-button type="submit" ng-disabled="!form.$valid">
        Guardar
      </md-button>
    </md-dialog-actions>
  </form>
</md-dialog>
