<div layout-gt-sm="row">
	<md-input-container class="md-block col-md-4" flex-gt-sm>
    <label>Cedula</label>
    <input ng-model="empleado.cedula" ng-blur="loadEmpleado()" required>
	</md-input-container>
</div>
<div layout-gt-sm="row">
  <h4>Nombre: </h4><h5> {{empleado.nombre}} {{empleado.apellido}}</h5>
</div>
<div layout-gt-sm="row">
  <h4>Cargo: </h4> <h5> {{empleado.nombre_cargo}}</h5>
</div>
<div layout-gt-sm="row">
  <md-button class="md-raised md-primary" ng-disabled="horaEntrada" ng-click="entradaSalida('entrada')">Entrada</md-button>
  <md-button class="md-raised md-primary" ng-disabled="horaSalida" ng-click="entradaSalida('salida')">Salida</md-button>
</div>