<h2>Prestaciones</h2>
<md-content flex layout-padding>
    <div class="col-md-12">
        <div class="col-md-9">
            <md-button class="md-raised md-primary" ng-click="nuevoUsuario($event)">
                Nuevo
            </md-button>
        </div>
    </div>
    <md-toolbar class="md-table-toolbar md-default">
        <div class="col-md-12">
            <table class="table dataTable row-border table-hover table-striped table-bordered" datatable="ng" dt-options="dtOptions">
                <thead>
                    <tr class="sortable ">
                        <th>Cedula</th>
                        <th>Nombre</th>
                        <th>Tipo</th>
                        <th>Sucursal</th>
                        <th>Acciones</th>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="x in usuarios">
                        <td>{{x.cedula}}</td>
                        <td>{{x.nombre}}</td>
                        <td>{{x.tipo}}</td>
                        <td>{{x.sucursal_nombre}}</td>
                        <td>
                            <md-button class="md-fab md-mini" aria-label="Eat cake " style="color:white; background: #ff4281;" ng-click="editar($event,x)" >
                                <md-tooltip md-direction="top">
                                    Editar
                                </md-tooltip>
                                <i class="fa fa-edit"></i>
                            </md-button>
                            
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </md-toolbar>
</md-content>